In [1]:
import gmaps
import pandas as pd
import requests

from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2022-10-14 15:02:24,77.4840,-69.3632,23.22,96,100,7.45
1,1,Busselton,AU,2022-10-14 15:02:25,-33.6500,115.3333,50.95,91,25,7.40
2,2,Margate,GB,2022-10-14 15:02:22,51.3813,1.3862,61.70,78,100,1.99
3,3,Lebu,CL,2022-10-14 15:02:26,-37.6167,-73.6500,54.97,73,19,16.98
4,4,Glazunovka,RU,2022-10-14 15:02:27,52.4986,36.3275,43.65,63,58,3.80

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat","Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [14]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)&(city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Aguimes,ES,2022-10-14 15:02:28,27.9054,-15.4461,75.83,65,40,31.07
8,8,Gambela,ET,2022-10-14 15:02:29,8.2500,34.5833,79.88,79,100,0.89
16,16,Kutum,SD,2022-10-14 15:02:33,14.2000,24.6667,86.79,17,30,10.36
19,19,Manicore,BR,2022-10-14 15:02:34,-5.8092,-61.3003,83.95,65,98,1.72
23,23,Ribeira Grande,PT,2022-10-14 15:02:35,38.5167,-28.7000,77.40,73,75,9.22
26,26,Binga,ZW,2022-10-14 15:02:37,-17.6203,27.3414,89.91,23,5,8.46
30,30,Lucea,JM,2022-10-14 15:02:39,18.4510,-78.1736,84.85,65,100,2.80
34,34,Hithadhoo,MV,2022-10-14 15:02:41,-0.6000,73.0833,82.17,70,8,17.58
35,35,Victoria,HK,2022-10-14 15:00:29,22.2855,114.1577,80.65,78,11,5.99
36,36,Georgetown,MY,2022-10-14 15:02:04,5.4112,100.3354,83.23,85,40,0.00

In [15]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [16]:
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

              City Country  Max Temp      Lat      Lng Hotel Name
5          Aguimes      ES     75.83  27.9054 -15.4461
8          Gambela      ET     79.88   8.2500  34.5833
16           Kutum      SD     86.79  14.2000  24.6667
19        Manicore      BR     83.95  -5.8092 -61.3003
23  Ribeira Grande      PT     77.40  38.5167 -28.7000

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
   
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("hotel not found")

hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found

In [25]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Aguimes,ES,75.83,27.9054,-15.4461,Hotel Villa de Aguimes
8,Gambela,ET,79.88,8.2500,34.5833,Solomon Debebe Hotel
16,Kutum,SD,86.79,14.2000,24.6667,Dibbo areaمنطقة دبو
19,Manicore,BR,83.95,-5.8092,-61.3003,Hotel Durval
23,Ribeira Grande,PT,77.40,38.5167,-28.7000,Quinta da Meia Eira
26,Binga,ZW,89.91,-17.6203,27.3414,Lakeview Inn Binga
30,Lucea,JM,84.85,18.4510,-78.1736,Grand Palladium Jamaica Resort & Spa
34,Hithadhoo,MV,82.17,-0.6000,73.0833,Scoop Guest House
35,Victoria,HK,80.65,22.2855,114.1577,Mini Central
36,Georgetown,MY,83.23,5.4112,100.3354,Cititel Penang
38,Sao Filipe,CV,79.21,14.8961,-24.4956,Hotel Xaguate
40,Boa Vista,BR,87.44,2.8197,-60.6733,Aipana Plaza Hotel
41,Trincomalee,LK,81.28,8.5711,81.2335,Welcombe Hotel
43,Riyadh,SA,89.74,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
46,Vilhena,BR,89.26,-12.7406,-60.1458,Hotel Mirage
49,Estelle,US,78.01,29.8458,-90.1067,Ohio
56,Bonthe,SL,84.92,7.5264,-12.5050,Bonthe Holiday Village
67,Barcelos,PT,75.92,41.5388,-8.6151,Hotel Do Terço
71,Buchanan,LR,79.29,5.8808,-10.0467,Kamaneahn Hotel Inc
73,Byumba,RW,75.40,-1.5763,30.0675,RGC206 [AIRTEL]
74,Shujaabad,PK,82.45,29.8797,71.2931,Amir jewellery collection
83,Cayenne,GF,87.84,4.9333,-52.3333,Hôtel Le Dronmi
89,Hambantota,LK,77.34,6.1241,81.1185,Bungalow 63
93,Sao Joao Da Barra,BR,84.29,-21.6403,-41.0511,Pousada Porto De Canoas
94,Kashan,IR,78.31,33.9831,51.4364,Manouchehri Traditional House And Hotel
96,Vallenar,CL,77.92,-28.5708,-70.7581,Humacao Bed & Breakfast
98,Iquitos,PE,86.04,-3.7481,-73.2472,Cortez Malaga Techy Caroly
102,Nacala,MZ,77.79,-14.5428,40.6728,Nacala Plaza Business Design Hotel
108,Sao Gabriel Da Cachoeira,BR,88.27,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
109,Punta Cardon,VE,85.12,11.6581,-70.2150,Bambuda hotel
...,...,...,...,...,...,...
491,Oistins,BB,87.89,13.0667,-59.5333,Butterfly Beach Hotel
492,Takoradi,GH,80.69,4.8845,-1.7554,Raybow International Hotel
494,Boda,CF,78.42,4.3189,17.4695,
495,Coruripe,BR,81.72,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
496,Lucapa,AO,88.23,-8.4192,20.7447,Lírio Mendes
497,Luanda,AO,82.40,-8.8368,13.2343,EPIC SANA Luanda
502,Xai-Xai,MZ,78.10,-25.0519,33.6442,Complexo da Familia
503,Diplo,PK,88.07,24.4667,69.5840,Mukhi Ahmed Ali Residency
504,Khairpur,PK,82.40,27.5295,68.7617,Mehran University SZAB Campus Hostel 2
505,Telimele,GN,85.95,10.9167,-13.3333,
508,Gambo,CF,86.02,4.6482,22.2633,
509,Coronel Bogado,PY,77.49,-27.1833,-56.3000,Ganaderia ATASA
511,San Andres,CO,84.22,12.5847,-81.7006,Hotel Arena Blanca
514,Gerash,IR,84.34,27.6652,54.1371,Sa'adat House Gerash
518,Manali,IN,84.29,13.1667,80.2667,Sarathy Lodge
520,La Primavera,CO,87.04,5.4906,-70.4092,La Riviera Hotel Colonial
521,Brasileia,BR,81.05,-11.0161,-68.7481,Pousada Tobias
524,Aliwal North,ZA,87.39,-30.6937,26.7114,Queens Terrace B&B
525,Mangochi,MW,90.00,-14.4782,35.2645,Fort Johnstone Hotel
531,Domoni,KM,75.61,-12.2569,44.5319,Al Djadid
533,Muscat,OM,84.22,23.6139,58.5922,Mutrah Hotel
538,Ormara,PK,80.49,25.2088,64.6357,Kenara Colony House for Rent
539,Jiwani,PK,81.18,25.0500,61.7417,Hooth Market
542,Ratnagiri,IN,80.33,16.9833,73.3000,Hotel Landmark
545,Mayumba,GA,79.54,-3.4320,10.6554,LIKWALE LODGE
551,Ouesso,CG,76.42,1.6136,16.0517,ABENIE Hotel
552,Torrijos,ES,79.84,39.9819,-4.2835,Hotel La Salve
553,Caxito,AO,89.15,-8.5785,13.6643,
560,Yangambi,CD,86.49,0.8102,24.4336,
562,Bhuj,IN,87.26,23.2667,69.6667,Regenta Resort Bhuj

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer= gmaps.marker_layer(locations)


fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))